<div class="layui-fluid" id="user-password-update">
    <form class="layui-form" action="" lay-filter="password-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">原密码：</label>
            <div class="layui-input-block">
                <input type="password" name="oldPassword" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">新密码：</label>
            <div class="layui-input-block">
                <input type="password" name="newPassword" minlength="6" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">密码确认：</label>
            <div class="layui-input-block">
                <input type="password" name="confirmPassword" minlength="6" lay-verify="range"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="password-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>
<script type="text/javascript" data-th-inline="javascript" th:src="${@mvcResourceUrlProvider.getForLookupPath('/febs/js/system/user/passwordUpdate.js')}"></script>