<link rel="stylesheet" th:href="@{febs/css/system/user/userProfile.css}" media="all">
<div class="layui-fluid layui-anim febs-anim" id="febs-user-profile" lay-title="个人中心">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">个人信息</div>
                <div class="layui-card-body user-profile-card">
                    <div id="user-profile">
                        <div id="user-img">
                            <img alt="头像" title="点我更换头像" data-th-src="@{febs/images/avatar/empty.jpg}">
                            <div id="options-wrapper">
                                <div id="update-user-info">
                                    <a>
                                        <span class="layui-icon layui-icon-setting"></span>编辑资料
                                    </a>
                                </div>
                            </div>
                        </div>
                        <script type="text/html" template>
                            <div id="user-info">
                                <div><span class="layui-icon layui-icon-user"></span> 账号：
                                    {{currentUser.username}}
                                </div>
                                <div><span class="layui-icon layui-icon-trophy"></span> 角色：
                                    {{currentUser.roleName}}
                                </div>
                                <div><span class="layui-icon layui-icon-home"></span> 部门：
                                    {{currentUser.deptName || '暂无所属部门'}}
                                </div>
                                <div><span class="layui-icon layui-icon-skin"></span> 性别：
                                    {{# if(currentUser.sex === '0'){ }}男
                                    {{# } }}
                                    {{# if(currentUser.sex === '1'){ }}女
                                    {{# } }}
                                    {{# if(currentUser.sex === '2'){ }}保密
                                    {{# } }}
                                </div>
                                <div><span class="layui-icon layui-icon-phone"></span> 电话：
                                    {{currentUser.mobile?currentUser.mobile:'暂无电话信息'}}
                                </div>
                                <div><span class="layui-icon layui-icon-mail"></span> 邮箱：
                                    {{currentUser.email?currentUser.email:'暂无电话信息'}}
                                </div>
                                <div><span class="layui-icon layui-icon-read"></span> 简介：
                                    {{currentUser.description?currentUser.description:'暂无简介'}}
                                </div>
                            </div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">系统配置</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="" lay-filter="system-setting-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 85px">侧边栏风格：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="theme" lay-filter="theme" value="black" checked="" title="深邃">
                                <input type="radio" name="theme" lay-filter="theme" value="white" title="明亮">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 85px">选项卡开关：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="isTab" lay-filter="tab" value="1" checked="" title="开启">
                                <input type="radio" name="isTab" lay-filter="tab" value="0" title="关闭">
                            </div>
                        </div>
                        <button class="febs-hide" lay-submit="" lay-filter="system-setting-form-submit" id="submit-form"></button>
                    </form>
                </div>
                <div class="layui-card-footer">
                    <button class="layui-btn" id="submit">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" data-th-inline="javascript" th:src="@{febs/js/system/user/userProfile.js}"></script>