<style>
    #febs-job-log .layui-form-label{
        width: 60px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-job-log" lay-title="调度日志">
    <div class="layui-row febs-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" lay-filter="job-log-table-form">
                        <div class="layui-row">
                            <div class="layui-col-md10">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">Bean名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="beanName" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">方法名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="methodName" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">状态</label>
                                        <div class="layui-input-inline">
                                            <select name="status">
                                                <option value=""></option>
                                                <option value="0">成功</option>
                                                <option value="1">失败</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="query">
                                    <i class="layui-icon">&#xe848;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="job:log:delete,job:log:export">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="jobLogTable" lay-data="{id: 'jobLogTable'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="jobLog-times">
    <div>
        {{# if (d.times < 500) { }}
        <span class="layui-badge febs-tag-green">{{d.times}} ms</span>
        {{# } else if (d.times < 1000) { }}
        <span class="layui-badge febs-tag-cyan">{{d.times}} ms</span>
        {{# } else if (d.times < 1500) { }}
        <span class="layui-badge febs-tag-orange">{{d.times}} ms</span>
        {{# } else { }}
        <span class="layui-badge febs-tag-red">{{d.times}} ms</span>
        {{# } }}
    </div>
</script>
<script type="text/html" id="jobLog-status">
    {{#
    var status = {
    0: {title: '成功', color: 'green'},
    1: {title: '失败', color: 'volcano'}
    }[d.status];
    }}
    <span class="layui-badge febs-tag-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="jobLog-option">
    <span shiro:lacksPermission="job:log:delete">
        <span class="layui-badge-dot febs-bg-orange"></span> 无权限
    </span>
    <a lay-event="del" shiro:hasPermission="job:log:delete"><i
            class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script type="text/javascript" data-th-inline="javascript" th:src="@{febs/js/job/jobLog.js}"></script>