#user-update {
    padding: 20px 25px 25px 0;
}

#user-update .layui-treeSelect .ztree li a, .ztree li span {
    margin: 0 0 2px 3px !important;
}

#user-update #data-permission-tree-block {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 3px 0;
}