<link rel="stylesheet" th:href="@{febs/css/system/dict/dict.css}" media="all">
<div class="layui-fluid layui-anim febs-anim" id="febs-dict" lay-title="字典表">
	<div class="layui-row febs-container">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body febs-table-full">
					<form class="layui-form layui-table-form" lay-filter="dict-table-form">
						<div class="layui-row">
							<div class="layui-col-md10">
								<div class="layui-form-item">
									<div class="layui-inline">
										<label class="layui-form-label layui-form-label-sm">编号</label>
										<div class="layui-input-inline">
											<input type="text" name="id" autocomplete="off" class="layui-input">
										</div>
									</div>
									<div class="layui-inline">
										<label class="layui-form-label layui-form-label-sm">标签名</label>
										<div class="layui-input-inline">
											<input type="text" name="name" autocomplete="off" class="layui-input">
										</div>
									</div>
									<div class="layui-inline">
										<label class="layui-form-label layui-form-label-sm">数据值</label>
										<div class="layui-input-inline">
											<input type="text" name="value" autocomplete="off" class="layui-input">
										</div>
									</div>
								</div>
							</div>
							<div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
								<div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="query">
									<i class="layui-icon">&#xe848;</i>
								</div>
								<div class="layui-btn layui-btn-sm layui-btn-primary febs-button-blue-plain table-action" id="reset">
									<i class="layui-icon">&#xe79b;</i>
								</div>
								<div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
									shiro:hasAnyPermissions="dict:add,dict:update,dict:password:reset">
									<i class="layui-icon">&#xe875;</i>
								</div>
							</div>
						</div>
					</form>
					<table lay-filter="dictTable" lay-data="{id: 'dictTable'}"></table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/html" id="dict-status">
	{{#
	var status = {
	1: {title: '有效', color: 'green'},
	0: {title: '禁用', color: 'volcano'}
	}[d.status];
	}}
	<span class="layui-badge febs-bg-{{status.color}}">{{ status.title }}</span>
</script>
<script type="text/html" id="dict-option">
	<span shiro:lacksPermission="dict:view,dict:update,dict:delete">
		<span class="layui-badge-dot febs-bg-orange"></span> 无权限
	</span>
	<a lay-event="detail" shiro:hasPermission="dict:view"><i class="layui-icon febs-edit-area febs-green">&#xe7a5;</i></a>
	<a lay-event="edit" shiro:hasPermission="dict:update"><i class="layui-icon febs-edit-area febs-blue">&#xe7a4;</i></a>
	<a lay-event="del" shiro:hasPermission="dict:delete"><i class="layui-icon febs-edit-area febs-red">&#xe7f9;</i></a>
</script>
<script th:src="@{febs/js/system/dict/dict.js}"></script>