<link rel="stylesheet" th:href="${@mvcResourceUrlProvider.getForLookupPath('/febs/css/system/dict/dictAdd.css')}" media="all">
<div class="layui-fluid" id="dict-add">
	<form class="layui-form" action="" lay-filter="dict-add-form">
		<div class="layui-form-item">
			<label class="layui-form-label febs-form-item-require">类型：</label>
			<div class="layui-input-block">
				<input type="text" name="type" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label febs-form-item-require">描述：</label>
			<div class="layui-input-block">
				<input type="text" name="description" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label febs-form-item-require">标签名：</label>
			<div class="layui-input-block">
				<input type="text" name="name" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label febs-form-item-require">数据值：</label>
			<div class="layui-input-block">
				<input type="text" name="value" lay-verify="required"
					autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item febs-hide">
			<button class="layui-btn" lay-submit="" lay-filter="dict-add-form-submit" id="submit"></button>
			<button type="reset" class="layui-btn" id="reset"></button>
		</div>
	</form>
</div>
<script th:inline="javascript">
	var dict = [[${dict}]];
</script>
<script th:src="${@mvcResourceUrlProvider.getForLookupPath('/febs/js/system/dict/dictAdd.js')}"></script>