<link rel="stylesheet" th:href="@{febs/css/monitor/redisTerminal.css}" media="all">
<div class="layui-fluid layui-anim febs-anim" id="febs-redis-terminal" lay-title="Redis终端">
    <div class="layui-row febs-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="window">
                    <div class="handle">
                        <div class="buttons">
                            <button class="closes"></button>
                            <button class="minimize"></button>
                            <button class="maximize"></button>
                        </div>
                        <span class="title"></span>
                    </div>
                    <div class="terminal"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="javascript">
	var osName = [[${osName}]];
</script>
<script type="text/javascript" data-th-inline="javascript" th:src="@{febs/js/monitor/redisTerminal.js}"></script>