<link rel="stylesheet" th:href="@{febs/css/monitor/redisInfo.css}" media="all">
<div class="layui-fluid layui-anim febs-anim" id="febs-redis-info" lay-title="Redis监控">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12 febs-hide">
            <div class="layui-card">
                <div class="layui-card-body">
                    <span class="febs-alert-base febs-alert-warn">监控已暂停，<a id="continue">点击继续</a></span>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Redis内存实时占用情况</div>
                <div class="layui-card-body">
                    <div id="redisMemoryChart" style="height: 320px"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Redis Key的实时数量</div>
                <div class="layui-card-body">
                    <div id="redisKeySizeChart" style="height: 320px"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Redis详细信息</div>
                <div class="layui-card-body  febs-table-full">
                    <div class="layui-form layui-border-box layui-table-view" lay-id="redisInfoTable">
                        <div class="layui-table-box">
                            <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="line">
                                <tr data-th-each="il:${infoList}">
                                    <td>[[${il.key}]]</td>
                                    <td>[[${il.description }]]</td>
                                    <td>[[${il.value}]]</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" data-th-inline="javascript" th:src="@{febs/js/monitor/redisInfo.js}"></script>