<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.system.mapper.RoleMenuMapper">
	<!-- 递归删除菜单，findMenuChildren为自定义的 MySQL函数，作用为根据当前 menuId递归查找出其所有下级菜单或按钮-->
	<delete id="deleteRoleMenus" parameterType="string">
		DELETE FROM t_role_menu
		WHERE menu_id IN (
			SELECT m.menu_id FROM (
				SELECT menu_id FROM t_menu
				WHERE FIND_IN_SET( menu_id, findMenuChildren ( #{menuId} ) ) > 0
			) m
		)
	</delete>
</mapper>
